name: Bandit

on:
  push:
    branches: [main]

permissions:
  security-events: write
  actions: read
  contents: read

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@76b022e9991eedaa7e2fb8f198dcbfe3e17c79ad
        with:
          targets: "."
          severity: "all"
          confidence: "all"
